<li>Nickname: <%= results.nickname %></li>
<li>Account Age: <%= results.account_age %> (<%= results.age_days %> days)</li>
<li>Creation Date: <%= results.estimated_creation_date %></li>
<li>Followers: <%= results.followers %></li>
<li>Total Likes: <%= results.total_likes %></li>
<li>Verified: <%= results.verified %> (<%= results.verified_type %>)</li>
<li>Description: <%= results.description %></li>
<li>Region: <%= results.region %></li>
<li><img src="<%= results.avatar %>" alt="Avatar" width="50"></li>
